body {
  padding: 1px;
  margin: 0px;
}

header {
  background-color: #17202a;
  display: flex;
  height: 80px;
  padding: 1px;
}

.box {
  width: 1178px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.left_box_header {
  display: flex;
}

input {
  background-color: #17202a;
  border: 1px solid #cecece;
  border-radius: 3px;
  padding: 7px 18px;
  color: white;
  font-size: 18px;
  position: relative;
  top: 10px;
}

header h1 {
  font-size: 25px;
  color: #efefef;
}

/* Les liens de navigations */

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 20px;
  font-size: 20px;
}

nav li a {
  color: #efefef;
  text-decoration: none;
}

nav a:hover {
  color: #cecece;
}
